.resultats {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid #FAB75C;
}

.commandes, .resultats {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    min-width: 400px;
    padding: 0% 1% 0% 1%;
}
.commandes {
    margin-top: -10px;
}
.commandes form {
    border: solid #FAB75C;
    padding: 7px;
    display: block;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.functionvalid {
    color: green;
}

.erreur {
    color: #962d3e;
}

.commandes input[type="submit"] {
    margin-bottom: 20px;
}