<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">


  <security-constraint>
    <web-resource-collection>
      <web-resource-name>security_game</web-resource-name>
      <url-pattern>/game/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>


  <security-constraint>
    <web-resource-collection>
      <web-resource-name>security_admin</web-resource-name>
      <url-pattern>/administration/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>


  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <!--configuration des fichiers de BIENVENUE-->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


  <!--mapping et configuration du GOOGLE CLOUD ENDPOINT-->
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>fr.nantes.web.quizz.APIBackend.scoresEndpoint</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>


  <!--mapping et configuration des servlets UTILISATEURS-->
  <servlet>
    <servlet-name>getUserAcceuil</servlet-name>
    <servlet-class>fr.nantes.web.quizz.users.GetUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserAcceuil</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>getUserAdmin</servlet-name>
    <servlet-class>fr.nantes.web.quizz.users.GetUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserAdmin</servlet-name>
    <url-pattern>/admininistration/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>getUserGame</servlet-name>
    <servlet-class>fr.nantes.web.quizz.users.GetUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserGame</servlet-name>
    <url-pattern>/game/</url-pattern>
  </servlet-mapping>

  <!--mapping et configuration des servlets jeu-->
  <servlet>
    <servlet-name>Quizzquestions</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Quizzquestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quizzquestions</servlet-name>
    <url-pattern>/jeu/quizzquestions</url-pattern>
  </servlet-mapping>

  <!--mapping et configuration des servlets ADMIN-->
  <servlet>
    <servlet-name>Nbmovies</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Nbmovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nbmovies</servlet-name>
    <url-pattern>/admin/nbmovies</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Nbmoviesdatastore</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Nbmoviesdatastore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nbmoviesdatastore</servlet-name>
    <url-pattern>/admin/nbmoviesdatastore</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Nbdirectors</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Nbdirectors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nbdirectors</servlet-name>
    <url-pattern>/admin/nbdirectors</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Adddirectors</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Adddirectors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adddirectors</servlet-name>
    <url-pattern>/admin/adddirectors</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Addmovies</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Addmovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addmovies</servlet-name>
    <url-pattern>/admin/addmovies</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>Addadmin</servlet-name>
  <servlet-class>fr.nantes.web.quizz.servlets.Addadmin</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>Addadmin</servlet-name>
    <url-pattern>/admin/addadmin</url-pattern>
  </servlet-mapping>

  <!--Gestion des erreurs et redirection -->
  <error-page>
    <error-code>500</error-code>
    <location>/errors/error_500.jsp</location>
  </error-page>

</web-app>
