<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.HelloAppEngine</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Quizzquestions</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Quizzquestions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Nbmovies</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Nbmovies</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Nbmoviesdatastore</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Nbmoviesdatastore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Nbdirectors</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Nbdirectors</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Adddirectors</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Adddirectors</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Addmovies</servlet-name>
    <servlet-class>fr.nantes.web.quizz.servlets.Addmovies</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>Addadmin</servlet-name>
  <servlet-class>fr.nantes.web.quizz.servlets.Addadmin</servlet-class>
</servlet>
  <servlet>
    <servlet-name>getUser</servlet-name>
    <servlet-class>fr.nantes.web.quizz.users.GetUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUser</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Quizzquestions</servlet-name>
    <url-pattern>/quizzquestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Nbmovies</servlet-name>
    <url-pattern>/nbmovies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Nbmoviesdatastore</servlet-name>
    <url-pattern>/nbmoviesdatastore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Nbdirectors</servlet-name>
    <url-pattern>/nbdirectors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Adddirectors</servlet-name>
    <url-pattern>/adddirectors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Addmovies</servlet-name>
    <url-pattern>/addmovies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Addadmin</servlet-name>
    <url-pattern>/addadmin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
