#account table {
    width: auto !important;
    display: inline-block !important;
}
 h1 {
  color:#FAB75C;
 }

div#account {
    display: inline-block;
    background-color: rgba(14, 13, 13, 0.41);
    height: auto;
    margin: 10px;
    padding: 10px;
}