#account table {
    width: auto !important;
    display: inline-block !important;
}
 h1 {
  color:#FAB75C;
 }

div#account {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    height: auto;
    margin: 10px;
    padding: 10px;
}