<!DOCTYPE html>
<html lang="fr"  ng-app="movies-game" ng-controller="MainController">

<head>
    <meta charset="utf-8" />
    <title>Movies game</title>
	
	<script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular.js" data-require="angular.js@1.5.x" data-semver="1.5.8"></script>
	<script src="/assets/angular-google-gapi.min.js"></script>
    <script src="/assets/angular-cookies.min.js"></script>
	<script src="/app.js"></script>
	
    <script>document.write('<base href="' + document.location + '" />');</script>

    <link href="https://fonts.googleapis.com/css?family=Signika|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../styleheader.css" rel="stylesheet" />
    <link href="../errors/style.css" rel="stylesheet" />

    <meta name="description" content="game Movies Game">
    <meta name="keywords" content="HTML,CSS,JavaScript,Angular,GoogleAppEngine">
    <meta name="author" content="Le Luet Camille, Hallereau François, Vallée Sebastien & Pineau Sullivan">
    <link rel="icon" href="../favicon.ico">
</head>

<body>

<div id="header">
    <div id="headerleft">
        <a href="/"><img id="image_header" src="/Film-icon.png" alt="icon" height="50" width="50"></a>
    </div>
    <div id="headercenter">
        <div class="link_right" ng-show="user"><a id="mon compte" href="/account/">Mon Compte</a></div>
        <div class="link_right"><a id="about" href="/about/">A propos</a></div>
    </div>
    <div id="headerright">	
		<div class="container" style="display:ruby;">	
			<div ng-show="!user">
				<a id="connexion"  ng-click="login()">Se Connecter</a>
			</div>
			<div ng-show="user">
				<a id="connexion" ng-click="logout()">Déconnexion</a>
			</div>
			
			<div class="User" style="display:ruby;" ng-show="user">
				<img ng-src="{{user.picture}}" style="width:50px;">
			</div>
			
			<a href="https://github.com/BerliozLeChat/movies-game-project" style="display:none;">
				<img id="image_git" src="/github.png" alt="githubicon" height="50" width="50">
			</a>
		</div>
	</div>
	<div class="separator"></div>
</div>
<div>
    <div id="errors">
        <div class="sub_error">
            <h1>ERREUR 500 !</h1>
            <sub>Vous essayez d'accéder à une page non répertoriée, veuillez vous rediriger vers l'<a href="/">accueil</a> !</sub>
        </div>
        <img class="sub_error" src="../errors/erreur_500_image.jpg"/>
    </div>
</div>

</body>

</html>