
#div_game{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
    background-color: #35889a;
    color: #f1ebc7;
    border: solid;
    font-size: 15px;
}

#resultats {
    background: rgba(255, 255, 255, 0.52);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

#div_game input[type="submit"] {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    border: solid 1px #f1ebc7 !important;
    background-color: #35889a;
    color: #f1ebc7;
    cursor: pointer;
    width: 200px;
}

#div_game input[type="submit"]:hover {
    background-color: #f1ebc7 !important;
    color: #343642 !important;
    border: solid 3px #35889a !important;
}
#choix{
    font-size: 20px;
}

#barre{
    display: block;
    height: 15px;
    background: #343642;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.map{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}