#div_game{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
    font-size: 15px;
	
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	
	padding:10%;
}

#resultats {
    background: rgba(255, 255, 255, 0.52);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.score {
	float:right;
}
.movieTitle {
  font-family: 'Signika', sans-serif;
  color:lightskyblue;
}

.input { 
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    background-color: #FAB75C;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
    box-shadow: 0px 3px 3px #FCD39D;
	font-size:14px;
}
.input:hover {
    color: #FFFFFF;
    box-shadow: 0px 2px 3px #FCD39D;
}
.input:active {
    color: #FFFFFF;
    background-color: #e1a452;
    box-shadow: 0px 1px 3px #FCD39D;
}
.input:focus{
    color: #FFFFFF;
}
.btn-level{
    color: #333333 !important;
    box-shadow: 0px 1px 2px #FCD39D;
	margin:20px;
	padding:10px;
	min-width:150px;
}
.btn-level:active{
    color: #000000 !important;
    background-color: #fef0de;
    box-shadow: 0px 1px 2px #FCD39D;
	border: 1px solid #FAB75C;
}
#choix{
    font-size: 20px;
}

#barre{
    display: block;
    height: 15px;
    background: #343642;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.map{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}