/* Put your css in here */

#input_administration input[type="submit"],#input_connection input[type="submit"], #input_jeu input[type="submit"] {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    border: solid;
    border-color: #343642;
    border-radius: 15px;
    background-color: #35889a;
    color: #f1ebc7;
    cursor: pointer;
}

#input_administration input[type="submit"]:hover,#input_connection input[type="submit"]:hover, #input_jeu input[type="submit"]:hover {
    background-color: #f1ebc7 !important;
    color: #343642 !important;
}
