body{
    background-color: #f1ebc7;
    text-align:center;
    color:#343642;
}

#header{
    display: inline-block;
    width: 100%;
    background: #35889a;
    margin-top: -8px;
    margin-left: -8px;
    padding: 8px;
    margin-bottom: 15px;
}

#headerleft{
    display: inline-block;
    width: 49%;
    text-align: left;
}

#headerright{
    display: inline-block;
    width: 49%;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.link_right {
    display: inline-block;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    margin-top: -35px;
    min-width: 50px;
}

.link_right a:hover, #headerleft a:hover, #headerright a:hover{
    font-size: 110%;
}